<launch>
	<arg name="scan_topic" default=""/>
	<arg name="base_scan_filter_topic" default=""/>
	<!-- <arg name="scan_topic" default="rbkairos/merged_scan"/> -->
	<arg name="map_topic" default=""/>
	<arg name="mobile_base" default=""/>
	<arg name="laser_scan_max_distance_range" default=""/>
    
    <node name="map_laser_filter" pkg="map_laser" type="filter.py" output="screen">
        <remap from="/scan"             to="$(arg scan_topic)"/>
        <remap from="/base_scan_filter" to="$(arg base_scan_filter_topic)"/>
        <remap from="/map"              to="$(arg map_topic)"/>
        <param name="mobile_base" value="$(arg mobile_base)"/>
        <param name="laser_scan_max_distance_range" value="$(arg laser_scan_max_distance_range)"/>
    </node>
</launch>
